body{
    background: linear-gradient(to right, #74ebd5, #acb6e5);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif  ;
}

/* Login Page */
.login-container {
    background: white;
    width: 350px;
    padding: 30px;
    margin: 100px auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    animation: fadeIn 0.8s ease-in-out;
    position: relative;
    top: 20px;
}

.login-container h1 {
    margin-bottom: 15px;
    color: #2c3e50;
}

.login-container input {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container button {
    width: 100%;
    padding: 12px;
    background: #2c3e50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.login-container button:hover {
    background: #74ebd5;
    color: black;
}

.login-container p {
    margin-top: 10px;
    font-size: 14px;
}

.login-container a {
    color: #2c3e50;
    text-decoration: none;
    font-weight: bold;
}

.login-container a:hover {
    text-decoration: underline;
}

#ee{
    color: white;
    position: relative;
    top: 55px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



#rr{
    position: relative;
    top:50px;
}
